//COLORES

$cPrincipal: rgb(202, 202, 202);
$cBoton: rgb(0, 10, 255);
$cBotonHover: rgb(0, 6, 159);
$cFondo: rgb(65, 65, 65);
$cMain: rgb(44, 43, 55);



//TAMANOS

$lPrincipal: 18px;
$lSecundario: 12px;
$lTitulo: 45px;
$lSubtitulo: 30px;

$qTitulo: 30px;
$qSubtitulo:24px;
$qPrincipal:16px;
$qSecundario:12px;

//TIPOGRAFIAS

$fontPrincipal:'Junge';
$fontSec: 'Kadwa';
