<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|ElMate</title>
    <link rel="stylesheet" href="/css/style.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Junge&family=Kadwa:wght@400;700&display=swap');
        </style>
        
</head>
<body class="home">


    <header class="heroSection">
        <h1>El Mate 3D</h1>
    </header>

    <div class="homeInicio">

        <div class="homeArriba">
            <ul>
                <li><a href="/login">Iniciar sesion</a></li>
                <li><a href="/register">Registrarse</a></li>     
            </ul>    
        </div>

        <div class="homeAbajo">
            <h2>Impresiones y diseño <br>3D a tu medida</h2>

            <input  class="genFormularios" type="text" placeholder="Buscar categorias/elementos">
        </div>

    </div>

     <div class="muestra">
        <img src="./imagenes/hero42.jpeg" alt="">

    </div>


    <main class="mainHome">

        <div>
            <h2>Nuestras impresiones</h2>
        </div>



        <div class="cuadricula">

            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/buda.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Diseño personalizado</h3>
                        <p>Mandanos tu modelo o idea para hacer tu propio diseño realidad.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/personalizado.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Llaveros personalizados</h3>
                        <p>Llaveros con el logo de tu empresa o tu idea.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/mates.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Llavero de mate</h3>
                        <p>Llavero con forma de mate mini estilo clasico de madera.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/personitas.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Personitas a escala</h3>
                        <p>Personas a escala en distintas poses (escala 1:100, 1:50, o personalizada).</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/columnitas.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Llavero columnita</h3>
                        <p>Llaveros de mini columnas doricas color marmolado o blanco.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/columna lapicero.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Columna romana</h3>
                        <p>Lapicero estilo columna romana color marmol.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/lapicero.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Lapicero</h3>
                        <p>Lapicero con forma de cintura femenina.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/hacha.jpg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Coleccion</h3>
                        <p>Objetos de coleccion de peliculas o videojuegos a escala o tamaño real.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/ajedrez.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Ajedrez</h3>
                        <p>Juego de piezas de ajedrez completo a dos colores.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/arte.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Cuadro 3d</h3>
                        <p>Arte impreso en 3d con tu idea o diseño de la foto.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
            <div class="card">
                <div class="arriba">
                    
                    <img src="./imagenes/corazones.jpeg" alt="">



                </div>
                <div class="abajo">

                    <h3>Regalo novios</h3>
                    <p>Llavero personalizado para regalo entre parejas.</p>

                </div>                 
            </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/funda.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Carcasa de celular</h3>
                        <p>Carcasas para celulares (consultar por modelos).</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">            <div class="card">
                <div class="arriba">
                    
                    <img src="./imagenes/japon.jpeg" alt="">



                </div>
                <div class="abajo">

                    <h3>Maceta</h3>
                    <p>Maceta estilo japonesa con frase ikigai.</p>

                </div>                 
            </div></a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">            <div class="card">
                <div class="arriba">
                    
                    <img src="./imagenes/maqueta.jpeg" alt="">



                </div>
                <div class="abajo">

                    <h3>Maquetas</h3>
                    <p>Impresion de maquetas 3d o entorno de proyecto.</p>

                </div>                 
            </div></a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/oso.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Muñecos</h3>
                        <p>Personajes famosos a escala.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/sahumerio.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Posa sahumerios</h3>
                        <p>Posa sahumerios colgante estilo moderno a dos colores.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/soporte.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Soporte</h3>
                        <p>Soporte universal para celulares con tu logo.</p>
    
                    </div>                 
                </div>
            </a>
            <a href="https://wa.me/message/XDPSYDHQIPFHE1">
                <div class="card">
                    <div class="arriba">
                        
                        <img src="./imagenes/turbo.jpeg" alt="">
    
    
    
                    </div>
                    <div class="abajo">
    
                        <h3>Llavero turbo</h3>
                        <p>Llavero turbo tamaño mini.</p>
    
                    </div>  
                </div>
            </a>

        </div>

    </main>



    <footer class="genFooter">

        <div class="footIzq">

            <ul>
                <li><a href="https://www.instagram.com/elmate.3d.ok/">Instagram</a></li>
                <li><a href="https://wa.me/message/XDPSYDHQIPFHE1 ">Whatsapp</a></li>
                <li><a href="https://cults3d.com/es/usuarios/ElMate/modelos-3d">Nuestros mdoelos</a></li>
            </ul>

        </div>

        <div class="footMedio">

            <p>
                Modelos e impresiones 3D, envios dentro de Cordoba Capital.
            </p>
            <p>
                Consultar por archivos personalizados o vea nuestros modelos en Cults3D
            </p>

        </div>

        <div class="footDer">
            
            <p>
                Todos los derechos (c) Copyright dedicados a Elmate 3D
            </p>
            <p>
                Cordoba, Cordoba, Argentina
            </p>

        </div>
    </footer>
    
</body>
</html>