<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login|ElMate</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Junge&family=Kadwa:wght@400;700&display=swap');
        </style>
</head>
<body class="login">
    
    <main class="mainLogin mainLogs">
        <a href="/home">
            <div class="imagenLogin">
                <img src="./imagenes/elmate negro.png" alt="Logo del mate 3d">
            </div>
        </a>


        <div class="titulosLogin">
            <h1>El Mate 3D</h1>
            <h2>Iniciar sesion</h2>
        </div>
        <div class="inputsLogin">
            
            <label for="email">E-mail</label>
            <input id="email" class="genFormularios" type="text" placeholder="example@email.com">

            <label for="password">Contraseña</label>
            <input id="password" class="genFormularios" type="password" value="*********">

        </div>

        <div class="botones">
            <a href="/home">
                <button class="aceptarLogin genBoton">Iniciar sesion</button>
            </a>

            <div class="opciones">
                <a href="">Olvide mi clave</a>
                <a href="/register">Crear una cuenta</a>
            </div>


            
            
        </div>



    </main>
    
</body>
</html>

