<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login|ElMate</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Junge&family=Kadwa:wght@400;700&display=swap');
        </style>
</head>
<body class="login">
    
    <main class="mainLogin mainLogs">

        <a href="/home">
            <div class="imagenLogin">
                <img src="./imagenes/elmate negro.png" alt="Logo del mate 3d">
            </div>
        </a>

        <div class="titulosLogs">
            <h1>El Mate 3D</h1>
            <h2>Crea una cuenta</h2>
        </div>

        <div class="inputsRegister">


            <label for="email">E-mail</label> 
            <input id="email" class="genFormularios" type="text" placeholder="example@email.com">

            <label for="usuario">Nombre de usuario</label> 
            <input id="usuario" class="genFormularios" type="text" placeholder="User123">

            <label for="clave">Contrasena</label> 
        <input id="clave" class="genFormularios" type="text" placeholder="**********">

        </div>

        <div class="botones">
            
            <a href="/home">
                <button class="aceptarLogin genBoton">Crear cuenta</button>
            </a>

        </div>

    </main>
    
</body>
</html>
